<div class="container mt-5">

    <div class="sorting-controls mb-4 d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <label class="sort-title" for="sort">Sort by: </label>
        <select id="sort" class="form-control sort-select" (change)="onSortChange($event)">
          <option value="" disabled selected hidden>Select an option</option>
          <option value="priceAsc">Price: Low to High</option>
          <option value="priceDesc">Price: High to Low</option>
          <option value="nameAsc">Name: A to Z</option>
          <option value="nameDesc">Name: Z to A</option>
        </select>
        <span class="ml-3">{{filteredProductsCount}} products</span>
      </div>
    </div>

    <!-- <h2 class="my-5">Jordan</h2> -->
    <div class="shoe-section" *ngIf="filteredProducts$ | async as filteredProducts; else loading">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let product of filteredProducts">
          <div class="card h-100" (click)="viewProductDetail(product)">
            <div class="card-img-container">
              <img [src]="product.images[0]" class="card-img-top" alt="{{product.name}}">
            </div>
            <div class="card-body text-center">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{ getMinPrice(product) | currency }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <div class="text-center m-5 p-5">
        <img src="assets/spinning-shoe.gif" alt="Loading..." class="loading-gif">
      </div>
    </ng-template>
</div>
