.nested-menu {
  display: none;
  padding-left: 20px;
  list-style-type: none;
  max-height: 350px;
  overflow-y: auto;
}

.nested-menu.show {
  display: block;
}

.nav-item .dropdown-toggle::after {
  margin-top: 15px;
  float: right;
  margin-left: 5px;
}

.slide-in-menu {
  position: fixed;
  top: 0;
  right: -440px;
  width: 440px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s;
  z-index: 9999;
}

.slide-in-menu.active {
  right: 0;
}

.slide-in-menu-content {
  padding: 20px;
  padding-top: 60px;
  max-height: 100%;
  overflow-y: auto;
}

.slide-footer{
  padding-top: 60%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.navbar {
  background-color: transparent !important;
  box-shadow: none;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1030;
  padding-top: 35px;
  font-size: 20px;
}

.fa-search {
  margin-top: 2rem;
  margin-right: 2rem;
}


.navbar-nav .nav-link {
  color: white !important;
  cursor: pointer;
}

.navbar-nav {
  margin-top: 20px;
  margin-right: 40px;
}

@media (min-width: 992px) and (max-width: 1024px) {
  .navbar-collapse {
      display: block !important;
      max-height: none;
      overflow: visible;
  }
  .navbar-toggler {
      display: block;
  }
}


.navbar-nav .cart {
  color: white !important;
  cursor: pointer;
}

.cart:hover,
.cart.active,
.cart:focus {
  cursor: pointer;
  height: 45px;
  color: white !important;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: white;
  position: absolute;
  left: 10px;
}

.search-icon {
  cursor: pointer;
  color: white;
  position: absolute;
  right: 10px;
  font-size: 24px;
}

@media (max-width: 1024px) {

  .slide-in-menu {
    display: block;
  }

  .navbar-collapse {
    overflow-y: visible;
    max-height: none;
    background-color: white;
    margin-top: 110px;
    display: none !important;
  }

  .navbar-nav {
    display: block;
    width: 100%;
  }

  .navbar-nav .nav-link {
    padding: 8px 15px;
    color: black !important;
  }

  .navbar-toggler {
    margin-left: 10px;
    z-index: 1050;
  }

  .search-icon {
    right: 10px;
    z-index: 1050;
  }

  .cart i {
    color: black;
  }

  .navbar-nav {
    margin: 0;
    width: auto !important;
  }
}

@media (max-width: 600px) {
  .dropdown-menu {
    column-count: 1;
  }

  .slide-in-menu {
    right: -340px;
    width: 340px;
  }
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo-container img {
  max-height: 100px;
  height: auto;
}

.navbar-collapse {
  flex-grow: 1;
}

.nav-item {
  margin: 0 10px;
  list-style-type: none;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.container-fluid {
  align-items: normal;
  padding-left: 50px;
  padding-right: 50px;
}

.second-menu {
  margin: 0 !important;
}

.cart i {
  color: white;
}

.search-bar-container {
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  left: 10px;
  width: calc(100% - 20px);
  background-color: white;
  padding: 10px;
  z-index: 1030;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.search-bar {
  flex-grow: 1;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 100%;
  padding-right: 35px; 
  box-sizing: border-box;
}

.search-button {
  font-size: 20px;
  cursor: pointer;
  color: black;
  margin: 0;
  margin-right: 20px !important;
}

.close-search-bar {
  font-size: 27px;
  cursor: pointer;
  color: black;
}

.search-results-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 400px;
  overflow-y: auto;
  z-index: 1000;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.search-result-item:last-child {
  border-bottom: none;
}

.search-result-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.search-result-details {
  display: flex;
  flex-direction: column;
}

.search-result-name {
  font-weight: bold;
}

.search-result-category {
  font-size: 0.9em;
  color: #666;
}

.cart-btn {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

@media only screen and (max-width: 1645px) {
  #navbarScroll {
    place-content: center !important;
  }

  .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
  }

  .right{
    justify-content: right !important;
  }

}


@media only screen and (max-width: 1406px) {
  #navbarScroll {
    place-content: center !important;
  }

  .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
  }

  .left{
    width: auto;
  }
}

.search-bar-wrapper {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust spacing between elements as needed */
}

.input-container {
  position: relative;
  width: 100%;
}

.clear-input-button {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust for proper alignment inside the input field */
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
}

.clear-input-button:hover {
  color: black;
}
