<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <!-- Logo in the center -->
        <a class="navbar-brand mx-auto" routerLink="/home">
            <img src="assets/limited-hype-logo.png" id="logo" height="100" alt="Logo Description" />
        </a>

        <!-- Navbar toggler button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Left side links -->
        <div class="collapse navbar-collapse justify-content-start" id="navbarScroll">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item" (click)="closeMenu()">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item" (click)="closeMenu()">
                    <a class="nav-link" routerLink="/story" routerLinkActive="active">Our Story</a>
                </li>
                <li class="nav-item" (click)="closeMenu()">
                    <a class="nav-link" routerLink="/shop" routerLinkActive="active">The Shop</a>
                </li>
            </ul>
        </div>

        <!-- Right side links -->
        <div class="collapse navbar-collapse second-menu justify-content-end" id="navbarScroll">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="nikeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Nike
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="nikeDropdown">
                        <li><a class="dropdown-item" routerLink="/nike/all" routerLinkActive="active" (click)="closeMenu()">All Nikes</a></li>
                        <li><a class="dropdown-item" routerLink="/nike/sb" routerLinkActive="active" (click)="closeMenu()">Nike SB</a></li>
                        <li><a class="dropdown-item" routerLink="/nike/supreme" routerLinkActive="active" (click)="closeMenu()">Supreme</a></li>
                    </ul>
                </li>
                <li class="nav-item" (click)="closeMenu()">
                    <a class="nav-link" routerLink="/jordan" routerLinkActive="active">Jordan</a>
                </li>
                <li class="nav-item" (click)="closeMenu()">
                    <a class="nav-link" routerLink="/yeezy" routerLinkActive="active">Yeezy</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="clothingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Clothing
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="clothingDropdown">
                        <li><a class="dropdown-item" routerLink="/clothing/essentials" routerLinkActive="active" (click)="closeMenu()">Essentials</a></li>
                        <li><a class="dropdown-item" routerLink="/clothing/denim-tears" routerLinkActive="active" (click)="closeMenu()">Denim Tears</a></li>
                        <li><a class="dropdown-item" routerLink="/clothing/bape" routerLinkActive="active" (click)="closeMenu()">Bape</a></li>
                        <li><a class="dropdown-item" routerLink="/clothing/eric-emanuel" routerLinkActive="active" (click)="closeMenu()">Eric Emanuel</a></li>
                        <li><a class="dropdown-item" routerLink="/clothing/hellstar" routerLinkActive="active" (click)="closeMenu()">Hellstar</a></li>
                        <li><a class="dropdown-item" routerLink="/clothing/kaws" routerLinkActive="active" (click)="closeMenu()">KAWS</a></li>
                        <li><a class="dropdown-item" routerLink="/clothing/pharaoh-collection" routerLinkActive="active" (click)="closeMenu()">Pharaoh Collections</a></li>
                        <li><a class="dropdown-item" routerLink="/clothing/limited-hype" routerLinkActive="active" (click)="closeMenu()">Limited Hype</a></li>
                    </ul>
                </li>
                <li class="cart-item" (click)="closeMenu()">
                    <a class="cart" routerLink="/cart" routerLinkActive="active">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<app-hero></app-hero>
