.signup-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(192, 192, 192, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
  }
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 450px;
  }

  .percent{
    font-size: 40px;
  }
  
  .logo-container {
    text-align: center;
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 15px;
    width: 70%;
  }
  
  .email-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    font-size: 22px;
  }
  
  input[type="email"] {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
  }
  
  button.btn {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button.get-started {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }
  
  button.get-started:hover {
    background-color: #4d4d4db6;
  }
  
  button.not-right-now {
    background-color: #ffffff;
    color: rgb(163, 163, 163);
  }
  
  button.not-right-now:hover {
    background-color: #ececec8e;
  }

  @media (max-width: 576px) {
    .popup-content {
      width: 350px;
    }

    .input-container {
      width: 80%;
    }
    
  }