<div class="text-center m-5">
    <h1 class="lead">Check out our in store shop!</h1>
    <h4 class="lead sub">Located in Kittery, Maine</h4>
  </div>
  
  <div class="gallery m-5">
    <div class="gallery-item" *ngFor="let imagePath of imagePaths">
      <div class="image-wrapper">
        <img [src]="imagePath" alt="Shop Image" (load)="onImageLoad(imagePath)" (error)="onImageError(imagePath)">
        <div *ngIf="isLoading(imagePath)" class="loading-spinner">
          <img src="assets/spinning-shoe.gif" alt="Loading..." class="loading-gif">
        </div>
      </div>
    </div>
  </div>
  