<div class="container mt-5">
    <h2 class="my-5">Featured collection</h2>
    <div class="shoe-section" *ngIf="featured$ | async as featured; else loadingFeatured">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let product of featured">
          <div class="card h-100" (click)="viewProductDetail(product)">
            <div class="card-img-container">
              <img [src]="product.imageUrl" class="card-img-top" alt="{{product.name}}">
            </div>
            <div class="card-body text-center">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.variant[0].price | currency}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loadingFeatured>
        <div class="text-center">
          <img src="assets/spinning-shoe.gif" alt="Loading..." class="loading-gif">
        </div>
    </ng-template>
</div>

<div class="container mt-5">
    <h2 class="my-5">All products</h2>
    <div class="shoe-section" *ngIf="allProducts$ | async as allProducts; else loadingAll">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let product of allProducts">
          <div class="card h-100" (click)="viewProductDetail(product)">
            <div class="card-img-container">
              <img [src]="product.imageUrl" class="card-img-top" alt="{{product.name}}">
            </div>
            <div class="card-body text-center">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.variant[0].price | currency}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #loadingAll>
      <div class="text-center">
        <p>Loading all products...</p>
      </div>
    </ng-template>
</div>
